footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(90, 59, 19);
    color: whitesmoke;
    ul {
        
        text-align: start;
    }
    a {
        display: block;
        color: #cff0f8;
        text-decoration: underline;
    }

}